<h1> Add an Employee</h1>

<% if @employee.errors.any? %>
    <h2> The following errors prevented the employee record from being created </h2>
    <ul>
        <% @employee.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>


<%= form_for @employee do |e| %>
    <table>
        <tr>
           <td> <%= e.label :fullname %> </td>
            <td> <%= e.text_field :fullname %> </td>
        </tr>
        <tr>
           <td> <%= e.label :age %> </td>
           <td> <%= e.text_field :age %> </td>
        </tr>
        <tr>
            <td> <%= e.label :Gender %> </td>
            <td> 
                <%= e.radio_button(:gender, "female") %>
                <%= e.label(:gender_female, "Female") %>
                <%= e.radio_button(:gender, "male") %>
                <%= e.label(:gender_male, "Male") %>
            </td>
        </tr>

        <tr>
            <td> <%= e.label :Marital_Status %> </td>
            <td>
                <%= e.radio_button(:marital_status, "married") %>
                <%= e.label(:marital_status_married, "Married") %>
                <%= e.radio_button(:marital_status, "single") %>
                <%= e.label(:marital_status_single, "Single") %>
            </td>
        </tr>

        <tr>
            <td> <%= e.label :state %> </td>
            <td> <%= e.text_field :state %> </td>
        </tr>

        <tr>
            <td>  <%= e.label :LGA %> </td>
            <td> <%= e.text_field :lga %> </td>
        </tr>

        <tr>
            <td> <%= e.label :Address %> </td>
            <td> <%= e.text_area :address %> </td>
        </tr>

        <tr>
            <td> <%= e.label :Phone_number %> </td>
            <td> <%= e.text_field :phone_number %> </td>
        </tr>

        <tr>
            <td> <%= e.label :start_date %> </td>
            <td> <%= date_select :employee, :start_date %> </td>
        </tr>

        <tr>
            <td> <%= e.label :email %> </td>
            <td> <%= e.email_field :email %> </td>
        </tr>

        <tr>
            <td> <%= e.submit %> </td>
        </tr>

    </table>
<% end %>