<h1> Showing Selected Employee</h1>

<p> 
    Fullname: <%= @employee.fullname %>
</p>

<p> 
    Age: <%= @employee.age %>
</p>

<p> 
    Gender: <%= @employee.gender %>
</p>

<p> 
    Marital_status: <%= @employee.marital_status %>
</p>

<p> 
    State: <%= @employee.state %>
</p>

<p> 
    L.G.A: <%= @employee.lga %>
</p>

<p> 
    Address: <%= @employee.address %>
</p>

<p> 
    Phone_number: <%= @employee.phone_number %>
</p>

<p> 
    Start_date: <%= @employee.start_date %>
</p>

<p> 
    Email: <%= @employee.email %>
</p>

<p>
    <%= link_to "Edit employee record",  edit_employee_path(@employee) %> &nbsp | &nbsp
    <%= link_to "Back to employees listing",  employees_path %>
</p>